body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.sidebar h1 {
    font-size: 24px;
    color: #444;
    margin-top: 0;
}


searchInput {


width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 16px;



}
.content {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
}
h2 {
    color: #0056b3;
}